/.dist
/.vscode
/09_Selector_Exercise_Starter
/bootstrap-3.3.7-dist
/calculator
/color game
/dist
/docs
/examples
/gallery
/links page
/login
/movie finder
/My Web Sites
/New folder (2)
/portfolio
/programs
/responsive
/search bar
/sublime